body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
 
position: absolute;
width: 1440px;
height: 1024px;
left: -1px;
top: -3px;


}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    width: 1147px;
    height: 650px;
    left: 145px;
    top: 20px;
    bottom: 100px;
    
    background: #FFFFFF;
    border-radius: 20px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}