@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 80;
}

.dashboardHome{
    background-color: #F8F8F8;
    position:relative;
    width: 100vw;
    height: 100vh;  
}

.SideBar{
    background-color: #ffff;
    float:left;
    width:190px;
    height: 100vh;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}

.dashlogo{
    margin-left: 12px;
    width: 151.22px;
    height:71px;
}

.headerArea{
    background-color: #ffff;
    position: absolute;
    left: 14.75%;
    right: 1.25%;
    top: 2.25%;
    bottom: 91.7%;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

.clock{
    margin:7px;
    margin-left: 10px;
}

.headerAreaDir{
    padding: 2px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #1A73E8;
}

h4{
    margin:7px;
    display: inline-block;
    position: absolute;
    font-size: 12px;
    font-weight:500px;
    margin-left: 3px;
}

.resultSet{
    left: 344px;
    top:104px;
    width: 1036px;
    height: 300px;
    background-color: #ffff;
}

.dataArea{
    background-color: #ffff;
    width: 1141px;
    height: 540px;
    position: absolute;
    left: 204px;
    top: 74px;
    bottom: 91.7%;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.searchBox{
    font-family: 'Poppins',FontAwesome;
    font-size: 10px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
    width:309px;
    height:28px;
    left:363px;
    border: 1px solid #C0C0C0;
    top:129px;
    background: #F7F9FA;
    border-radius: 13px;
}

.SearchFilterClass{
    font-size: 10px;
    font-weight: bold;
    display: inline;
    justify-content: flex-end;
}

.MySelector{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 13px;
    outline: none;
    border: 1px solid #C0C0C0;
}

.estimates_area{
    margin-top: 15px;
    width: 100%;
}

.estimates_area .btnContainer{
    height: 10%;
}

.estimates_area .btnContainer button{
    background-color: #ffff;
    font-weight: bold;
    width: 15%;
    height:100%;
    float:left;
    border:none;
    outline:none;
    cursor: pointer;
    padding:10px;
    font-family: 'Poppins';
    font-size: 13px;
}

.estimates_area .btnContainer button:hover{
    border-bottom: 4px solid #1A73E8;
}

.estimates_area .tabPanel{
    height: 45%;
    background-color: #ffff;
    box-sizing: border-box;
    padding-top: 85px;
    font-size: 13px;
    display:none;
}